._4,
._4 * {
  box-sizing: border-box;
}
._4 {
  background: #eaeaea;
  height: 1212px;
  position: relative;
  overflow: hidden;
}
.footer {
  background: #ffffff;
  padding: 0px 0px 80px 0px;
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 756px);
  bottom: -63px;
  overflow: hidden;
}
.divider {
  background: #000000;
  flex-shrink: 0;
  width: 1432px;
  height: 1px;
  position: relative;
}
.copywriting-privacy {
  padding: 0px 120px 0px 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1512px;
  position: relative;
}
.frame-38 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.div {
  color: #000000;
  text-align: center;
  font-family: "SfProText-Regular", sans-serif;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  position: relative;
}
.description {
  color: #000000;
  text-align: left;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  position: relative;
}
.description2 {
  color: #000000;
  text-align: left;
  font-family: "SfProText-Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  position: relative;
}
.privacy {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.component-1 {
  width: 1512px;
  height: 1001px;
  position: absolute;
  left: 0px;
  top: 115px;
}
.rectangle-36 {
  background: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.group-10 {
  position: absolute;
  inset: 0;
}
.div2 {
  border-radius: 360.5px;
  width: 29.43%;
  height: 45.64%;
  position: absolute;
  right: 59.33%;
  left: 11.24%;
  bottom: 25.39%;
  top: 28.97%;
  object-fit: cover;
}
.member-4 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 50px;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: absolute;
  right: 18.85%;
  left: 39.88%;
  width: 41.27%;
  bottom: 84.51%;
  top: 7.59%;
  height: 7.9%;
}
.name-lan-age-19-gender-male-school-zhejiang-wanli-university-email-3040189263-qq-com-mbti-isfj-personal-introduction-sleep {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 24px;
  line-height: 189%;
  font-weight: 400;
  position: absolute;
  right: 3.57%;
  left: 55.16%;
  width: 41.27%;
  bottom: 11.13%;
  top: 28.97%;
  height: 59.9%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.name-lan-age-19-gender-male-school-zhejiang-wanli-university-email-3040189263-qq-com-mbti-isfj-personal-introduction-sleep-span {
  color: #000000;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 24px;
  line-height: 189%;
  font-weight: 800;
}
.name-lan-age-19-gender-male-school-zhejiang-wanli-university-email-3040189263-qq-com-mbti-isfj-personal-introduction-sleep-span2 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 189%;
  font-weight: 400;
}
.name-lan-age-19-gender-male-school-zhejiang-wanli-university-email-3040189263-qq-com-mbti-isfj-personal-introduction-sleep-span3 {
  color: #000000;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 24px;
  line-height: 189%;
  font-weight: 800;
}
.name-lan-age-19-gender-male-school-zhejiang-wanli-university-email-3040189263-qq-com-mbti-isfj-personal-introduction-sleep-span4 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 189%;
  font-weight: 400;
}
.name-lan-age-19-gender-male-school-zhejiang-wanli-university-email-3040189263-qq-com-mbti-isfj-personal-introduction-sleep-span5 {
  color: #000000;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 24px;
  line-height: 189%;
  font-weight: 800;
}
.name-lan-age-19-gender-male-school-zhejiang-wanli-university-email-3040189263-qq-com-mbti-isfj-personal-introduction-sleep-span6 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 189%;
  font-weight: 400;
}
.name-lan-age-19-gender-male-school-zhejiang-wanli-university-email-3040189263-qq-com-mbti-isfj-personal-introduction-sleep-span7 {
  color: #000000;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 24px;
  line-height: 189%;
  font-weight: 800;
}
.name-lan-age-19-gender-male-school-zhejiang-wanli-university-email-3040189263-qq-com-mbti-isfj-personal-introduction-sleep-span8 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 189%;
  font-weight: 400;
}
.name-lan-age-19-gender-male-school-zhejiang-wanli-university-email-3040189263-qq-com-mbti-isfj-personal-introduction-sleep-span9 {
  color: #000000;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 24px;
  line-height: 189%;
  font-weight: 800;
}
.name-lan-age-19-gender-male-school-zhejiang-wanli-university-email-3040189263-qq-com-mbti-isfj-personal-introduction-sleep-span10 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 189%;
  font-weight: 400;
}
.name-lan-age-19-gender-male-school-zhejiang-wanli-university-email-3040189263-qq-com-mbti-isfj-personal-introduction-sleep-span11 {
  color: #000000;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 24px;
  line-height: 189%;
  font-weight: 800;
}
.name-lan-age-19-gender-male-school-zhejiang-wanli-university-email-3040189263-qq-com-mbti-isfj-personal-introduction-sleep-span12 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 189%;
  font-weight: 400;
}
.name-lan-age-19-gender-male-school-zhejiang-wanli-university-email-3040189263-qq-com-mbti-isfj-personal-introduction-sleep-span13 {
  color: #000000;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 24px;
  line-height: 189%;
  font-weight: 800;
}
.name-lan-age-19-gender-male-school-zhejiang-wanli-university-email-3040189263-qq-com-mbti-isfj-personal-introduction-sleep-span14 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 189%;
  font-weight: 400;
}
.header {
  background: #ffffff;
  padding: 0px 120px 12px 120px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  top: -26px;
}
.logo {
  background: #000000;
  padding: 56px 12px 16px 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.bsst {
  color: #ffffff;
  text-align: center;
  font-family: "AbhayaLibre-Bold", sans-serif;
  font-size: 40px;
  line-height: 104px;
  font-weight: 700;
  position: relative;
  width: 110px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  left: 416px;
  top: 71px;
}
.number-menu-item {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.number {
  color: #000000;
  text-align: left;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
}
.menu-item {
  color: #000000;
  text-align: left;
  font-family: "SuezOne-Regular", sans-serif;
  font-size: 29px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.divider2 {
  background: #000000;
  flex-shrink: 0;
  width: 1432px;
  height: 1px;
  position: absolute;
  left: calc(50% - 716px);
  bottom: 0px;
}
